language: scala
scala:
   - 2.11.12
   - 2.12.6
   - 2.13.0
script:
   - sbt ++$TRAVIS_SCALA_VERSION clean test
jdk:
   - oraclejdk8
before_script:
 - "echo $JAVA_OPTS"
 - "export JAVA_OPTS=-Xmx1024m"
